/*
    PERSONAL CSS, extends twitter bootstrap css
*/

body {
    padding-top: 60px;
}

.logoxebia {
    margin-bottom: 20px;
}

#authors {
    padding-bottom: 3px;
}

.comment {
    color: #000000;
}

.comment_date {
    float: right;
    font-style: italic;
}

.signin {
    margin-left: auto;
    margin-right: auto;
    width: 460px;
}

.invisible {
    display: none;
}

.description {
    text-align: justify;
}

#content .ui-datagrid-column {
    width: 30%;
}

#content .ui-datagrid-content, #content .ui-panel, #content .ui-datagrid-column, #content .ui-datagrid-data {
    border: 0;
}

#content .ui-datagrid-column h5 {
    line-height: 150%;
    margin-bottom: 1em;
}
