form.rating_ballot input#rating_submit { display: none; }
form.rating_ballot input.rating_button { display: none; }
form.rating_ballot label.rating { cursor: pointer; display: block; float: left; }
form.rating_ballot label.rating span { display: none; }
form.rating_ballot label.rating {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-top;
    background-image: url(../img/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    *margin-right: .3em;
    background-position: -144px 0;
}
form.rating_ballot label.rating.bright {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-top;
    background-image: url(../images/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    *margin-right: .3em;
    background-position: -120px 0;
}
form.rating_ballot label.rating.glow {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: text-top;
    background-image: url(../images/glyphicons-halflings.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
    *margin-right: .3em;
    background-position: -120px 0;
}